{
   "settings": {
      "import/resolver": {
         "node": {
            "extensions": [".js", ".jsx", ".ts", ".tsx"]
         }
      },
      "import/parsers": {
         "@typescript-eslint/parser": [".ts", ".tsx"]
      }
   },
   "env": {
      "browser": true,
      "es2021": true
   },
   "extends": ["plugin:react/recommended", "airbnb", "prettier"],
   "parser": "@typescript-eslint/parser",
   "parserOptions": {
      "ecmaFeatures": {
         "jsx": true
      },
      "ecmaVersion": "latest",
      "sourceType": "module"
   },
   "globals": {
      "React": true
   },
   "plugins": ["react", "@typescript-eslint", "import"],
   "rules": {
      "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
      "react/function-component-definition": [
         2,
         {
            "namedComponents": "arrow-function",
            "unnamedComponents": "arrow-function"
         }
      ],
      "import/no-extraneous-dependencies": "off",
      "react/react-in-jsx-scope": "off",
      "import/extensions": [
         "error",
         "ignorePackages",
         {
            "js": "never",
            "jsx": "never",
            "ts": "never",
            "tsx": "never"
         }
      ],
      "no-restricted-exports": "off",
      "import/prefer-default-export": "off"
   }
}
